<div>
	<div id="background">
		<div id="page">
			<div id="header">
				<div id="logo">
					<a href=""><img src="assets/images/logo.png" alt="LOGO" height="150" width="200"></a>
				</div>
				<div id="navigation">
					<ul>
						<li>
							<a href="">Welcome</a>
						</li>
						<li>
							<a href="/articles">Articles</a>
						</li>
						<li class="selected">
							<a href="/projects">Projects</a>
						</li>
						<li>
							<a href="/contact">Contact</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>Projects</h1>
							<ul id="projects">
								<li>
									<a href="/projects"><img src="assets/images/vythernBlogLarge.jpg" alt="Img"></a>
									<h2><a href="/projects">This devblog!</a></h2>
                                    <p>
                                        Right now, I'm working towards my computer science capstone at Southern New Hampshire University (online). This devblog is an essential step in proving that I can work on and improve upon the work I have done with the knowledge I have gained. I will be adding extended functionality to this page in addition to giving it an entirely fresh coat of paint. You can track its progress on <a href="https://github.com/Vythern/Capstone" target="_blank">GitHub</a>.
                                    </p>                                    
								</li>
								<li>
									<a href="/projects"><img src="assets/images/weaponsSideBySideSmall.png" alt="Img"></a>
									<h2><a href="/projects">"Skorch"</a></h2>
									<p>
										Skorch is a passon project that I have been working on for quite some time.  It's an old-school style shooter inspired by retro FPS games like Doom, Quake, and Blood.  It has a heavy emphasis on freedom of movement and technical skill.  No release date yet.  
									</p>
								</li>
								<li>
									<a href="/projects"><img src="assets/images/wretchedRed.png" alt="Img"></a>
									<h2><a href="/projects">Wretched Knell</a></h2>
									<p>
										Wretched Knell is my death metal band.  We have recently released an EP, titled "Death Evocation".  Our influences range from the ripping florida death metal records such as those by Deicide and Cannibal Corpse, to the deepest depths of the swedish black metal scene, such as Dark Funeral, or the more melodic pieces by Dissection.  We are working on our second album, and playing shows all around Ohio!  
									</p>
								</li>
                                <li>
									<a href="/projects"><img src="assets/images/climbingProjSmall.png" alt="Img"></a>
									<h2><a href="/projects">Bouldering "Projects"</a></h2>
                                    <p>
                                        Besides music and game development, my biggest hobby is rock climbing.  Here I am on the send go of a benchmark V10 boulder.  Next year I'm hoping to push my max climbing grade and finish projecting a climb in the v12 range!  
                                    </p>                                    
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="footer">
			<div>
				<ul class="navigation">
					<li>
						<a href="">Welcome</a>
					</li>
					<li>
						<a href="/articles">Articles</a>
					</li>
					<li class="active">
						<a href="/projects">Projects</a>
					</li>
					<li>
						<a href="/contact">Contact</a>
					</li>
				</ul>
				<div id="connect">
					<a href="http://pinterest.com/fwtemplates/" target="_blank" class="pinterest"></a> <a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a> <a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a> <a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a>
				</div>
			</div>
			<p>
				© 2024 by Nate Dukes. All Rights Reserved
			</p>
		</div>
	</div>
</div>