<div class="card">
    <div class="card-header">
        <h5>{{ article.title }}</h5>
        <small class="text-muted">{{ article.date | date: 'mediumDate' }}</small>
    </div>
    <img src="assets/images/{{ article.image }}"
        alt="article thumbnail" class="card-img-top">
    <div class="card-body">
        <p class="card-text" [innerHTML]="article.description">
        </p>
        <div class="article-actions" *ngIf="isLoggedIn()">
            <button (click)="editArticle(article)" class="btn btn-warning">Edit Article</button>
            <button (click)="deleteArticle(article)" class="btn btn-danger">Delete Article</button>
        </div>
    </div>
</div>
